body {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
}
#bigrect {
    width: 639px;
    height: 496px;
    background-color: #505050;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
}
#smallrect {
    width: 460px;
    height: 420px;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    margin: auto;
    margin-top: 38px;
}
.rect {
    margin: auto;
    text-align: center;
}
.number1 {
    width: 300px;
    height: 67px;
    margin-top: 40px;
    box-shadow: inset 0 2px 15px rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    padding-top: 33px;
    margin-bottom: 40px;
}
input {
    width: 300px;
    height: 50px;
    box-shadow: inset 0 2px 15px rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    border: none;
    margin-bottom: 25px;
    padding-left: 57px;
}
input[type="text"] {
    background-color: #505050;
}
input[type="submit"] {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    background: linear-gradient(to bottom, #47b1e2, #0372a1);
    color: #fff;
}
input::-moz-placeholder {
    color: #a9a9a9;
}
input::-webkit-input-placeholder {
    color: #a9a9a9;
}
.krug1 {
    position: absolute;
    top: 224px;
    left: 173px;
}
.krug2 {
    position: absolute;
    left: 173px;
    top: 299px;
}
