#all {
    width: 680px;
    height: 340px;
    background-color: #1bbc9b;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
#all #left {
    float: left;
    margin-left: 70px;
    margin-top: 45px;
}
#all #left .text {
    margin-top: 20px;
    line-height: 25px;
}
#all #left .big {
    font-weight: bold;
}
#all #right {
    width: 369px;
    height: 250px;
    background-image: url(../image/rect.png);
    float: right;
    margin-right: 108px;
    margin-top: 45px;
    text-align: center;
}
#all #right form input {
    width: 314px;
    margin-top: 20px;
    height: 40px;
    border-radius: 8px;
    text-align: center right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    border: none;
}
#all #right form input[type="text"], #all #right form input[type="password"] {
    padding-left: 10px;
}
#all #right form input[type="text"]:hover, #all #right form input[type="password"]:hover {
    border-color: #1bbc9b;
    border-width: 2px;
    border-style: solid;
}
#all #right form input[type="submit"] {
    background-color: #1bbc9b;
    color: white;
    margin-bottom: 25px;
}
#all #right a {
    text-decoration: none;
    color:  #c0cacb;
}
#all #right a:visited {
    text-decoration: none;
    color:  #c0cacb;
}
input::-moz-placeholder {
    color: #c0cacb;
}
input::-webkit-input-placeholder {
    color: #c0cacb;
}
#people {
    background-image: url(../image/people.png);
    background-repeat: no-repeat;
    background-position: 95% center;
}
#people:hover {
    background-image: url(../image/people2.png);
    background-repeat: no-repeat;
    background-position: 95% center;
}
#key {
    background-image: url(../image/key.png);
    background-repeat: no-repeat;
    background-position: 95% center;
}
#key:hover {
    background-image: url(../image/key2.png);
    background-repeat: no-repeat;
    background-position: 95% center;
}