#big {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    width: 560px;
    height: 630px;
    background-color: #484d53;
    padding-left: 80px;
}
.uwaga {
    margin-bottom: 30px;
    padding-top: 70px;
    width: 480px;
    text-align: center;
    
}
.text1 {
    font-size: 40px;
    line-height: 50px;
}
.text2 {
    font-size: 16px;
    line-height: 25px;
}
input {
    width: 480px;
    height: 75px;
    border-radius: 37.5px;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    background-color: #484d53;
    margin-bottom: 28px;
    text-align: center;
    color: #fff;
    font-size: 18px;
}
input::-moz-placeholder {
    color: #fff;
}
input::-webkit-input-placeholder {
    color: #fff;
}
input[type="text"]:hover {
    border-style: solid;
    border-width: 2px;
    border-color: #30ad64;
}
input[type="submit"] {
    border: none;
    background-color: #30ad64;
}